.article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  box-shadow: var(--light-shadow);
  margin: 12px 0;
  padding: 6px 12px;
  border: solid 2px #e8e8e8;
}

.post {
  flex: 3;
  padding: 6px;
  min-width: 200px;
}

.postList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}

.postList a {
  color: var(--clr-black);
}

.post h1,
.post h2,
.post h5,
.post p {
  margin: 10px;
}

.post h5 {
  margin-top: -5px;
  margin-bottom: 15px;
}

.post p {
  font-size: 14px;
}

.post sup {
  font-size: 12px;
}

.content p,
.content li,
.content code {
  line-height: 1.6em;
}

.thumbnail {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 750px) {

  .post h2 {
    font-size: 18px;
  }

  .post p {
    font-size: 15px;
  }

  .post sup {
    font-size: 12px;
  }

  .content p,
  .content pre,
  .content li {
    font-size: 15px;
  }


  .thumbnail {
    margin: 1px;
    padding: 1px;
    height: 80px;
    width: 80px;
  }
}

.hero {
  border-radius: 5px;
}

.breadcrumbs {
  display: flex;
  width: 100%;
  align-items: center;
  font-family: "quicksand";
}

.breadcrumbLink {
  font-size: .85em;
  padding-right: 2px;
  color: #35435d;
}

.breadcrumbLinkHighlight {
  font-size: .85em;
  padding-right: 2px;
  font-weight: 500;
  -webkit-text-stroke: 1px rgba(10, 0, 59, 0.592);
}

.breadcrumbLink:hover,
.highlight-anchor:hover {
  -webkit-text-stroke: 1px rgba(10, 0, 59, 0.592);
}

.breadcrumbLink-separator {
  font-size: .9em;
  margin: 6px;
  font-weight: 200;
  color: #4DA167;
}