.about-section {
  display: inline-flex;
  margin: 15px auto 10px;
  flex-flow: row wrap;
  height: auto;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  min-height: 75vh;
}

.about-pic {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-pic img {
  border-radius: 12%;
}

.about-text {
  max-width: 500px;
  padding: 0 32px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.about-background {
  height: auto;
  background-size: cover;
  margin: 40px 0 100px 0;
}

.text-highlight {
  text-shadow:
    2px 0 5px rgb(255, 255, 167),
    -2px 0 5px rgb(255, 255, 167),
    4px 2px 5px rgb(255, 255, 167),
    -4px -2px 5px rgb(255, 255, 167),
    6px -4px 5px rgb(255, 255, 167),
    -6px 4px 5px rgb(255, 255, 167),
    8px -4px 7px rgb(255, 255, 167),
    8px 4px 7px rgb(255, 255, 167),
    10px -6px 7px rgb(255, 255, 167),
    10px 6px 7px rgb(255, 255, 167);
}