.wrapper {
  width: 100%;
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  position: relative;
  background: url("../../images/bg.jpg");
  /* background: linear-gradient(30deg, #1e1e1e, #442020, var(--clr-maroon)); */
  background-size: cover;
  -webkit-animation: AnimatedGradient 80s ease infinite;
  -moz-animation: AnimatedGradient 80s ease infinite;
  animation: AnimatedGradient 80s ease infinite;
}

.background {
  height: auto;
  padding: 0;
  transition: opacity 3s, visibility 3s;
  max-height: 80vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-item {
  margin: 10% 0 30% 0;
}

.transitions-container {
  height: 15em;
}

.transitions-item {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 6em;
  font-weight: 600;
  will-change: transform, opacity, height;
  cursor: pointer;
  line-height: 95px;
  box-sizing: border-box;
  -webkit-text-stroke: 3px rgba(255, 255, 255, 0.95);
}

.transitions-txt {
  overflow: hidden;
  min-width: 410px;

}

@media (max-width: 750px) {
  .container-item {
    scale: .7;
    margin: 20% 0 30% 0;
  }
}

@media (max-height: 750px) {
  .container-item {
    margin-top: 60px;
  }
}

.divider-wrap {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 280px;
  z-index: -1;
  background-color: white;
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
}

.divider-wrap-faded {
  opacity: .4;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 480px;
  z-index: -1;
  background-color: black;
  clip-path: polygon(0 65%, 100% 0, 100% 100%, 0% 100%);
}

.divider-wrap-faded-more {
  opacity: .3;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 680px;
  z-index: -1;
  background-color: black;
  clip-path: polygon(0 70%, 100% 0, 100% 100%, 0% 100%);
}


@-webkit-keyframes AnimatedGradient {
  0% {
    background-position: 0% 53%
  }

  50% {
    background-position: 100% 48%
  }

  100% {
    background-position: 10% 53%
  }
}

@-moz-keyframes AnimatedGradient {
  0% {
    background-position: 10% 53%
  }

  50% {
    background-position: 100% 48%
  }

  100% {
    background-position: 10% 53%
  }
}

@keyframes AnimatedGradient {
  0% {
    background-position: 10% 53%
  }

  50% {
    background-position: 100% 48%
  }

  100% {
    background-position: 10% 53%
  }
}