.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.anchor-tile {
  width: 160px;
  border: solid 1px;
  padding: 4px 8px;
  margin: 2px;
  color: black;
}

.anchor-tile h3 {
  height: 2.6em;
  text-align: center;
}

.anchor-tile p {
  font-size: 13px;
}