.paper {
  background: var(--clr-white);
  padding: 1rem 3rem 3rem;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
  margin: 2vh 10vw;
}

@media (max-width: 750px) {

  .paper p,
  .paper h1,
  .paper h2,
  .paper h3 {
    scale: .8;
    margin: auto
  }

  .paper {
    padding: 1.5rem 0 1rem;
    margin: 2vh 5vw;
  }

  .paper h1 {
    margin-bottom: -12px !important;
    color: rgb(76, 78, 98);
  }
}

.paper p {
  font-size: 14px;
}

.paper a {
  color: rgb(26, 94, 46)
}

.paper h1 {
  text-align: center;
  margin-bottom: 1.75em
}

.paper h3 {
  opacity: .85;
}

.entry {
  margin: 24px 0;
}

.date {
  font-size: 14px;
}