:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(0, 0%, 100%);
  --clr-primary-2: hsl(115, 17%, 27%);
  --clr-primary-3: hsl(115, 12%, 37%);
  --clr-primary-4: hsl(115, 13%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(115, 18%, 30%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(115, 19%, 65%);
  --clr-primary-7: hsl(115, 10%, 70%);
  --clr-primary-8: hsl(115, 16%, 75%);
  --clr-primary-9: hsl(115, 10%, 80%);
  --clr-primary-10: hsl(0, 0%, 90%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #f4f4f4;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --clr-maroon: #321010;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --dark-shadow: -5px 5px 50px rgba(0, 0, 0, 0.2);
  --light-shadow: -2px 3px 10px rgba(0, 0, 0, 0.2);
  --max-width: 970px;
}

html {
  scroll-padding-top: 70px;
  color: rgb(73, 73, 73);
  font-family: "quicksand", sans-serif;
  font-weight: 300;
  /* scroll-behavior: smooth; */
  scrollbar-color: var(--clr-maroon) #cfcfcfbd;
  animation: .5s ease 1s normal forwards 1 fadein;
  -webkit-animation: .5s ease 1s normal forwards 1 fadein;
  opacity: 0
}

.landing-page {
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: block;
  height: 100vh;
  scroll-padding-top: 50px;
  /* // test with smaller heights */
}

html p,
html sup,
html sub {
  font-family: "quicksand", sans-serif;
  font-weight: 300;
}

body {
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
}

main {
  margin: 0 24px;
}

@media screen and (max-width: 768px) {
  iframe {
    max-width: 100% !important;
  }
}

button,
button a {
  line-height: 3;
  margin: 4px 0;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
}

button {
  margin-top: 10px;
  border-radius: 0;
  background-color: white;
  color: #222;
  border: solid 2px grey;
}

button:hover {
  background-color: rgba(231, 231, 231, 0.43);
  border: solid 2px white;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

/* we bypass this rule for all  */
/* links on nav, index page (using section), nav and footer */
a:not([class*="anchor"]):not([class*="postList"] > a):not(section a):not(nav a):not(footer a):not([id="nohighlight"]) {
  text-shadow: #e0e0e0 1px 1px 0;
}

a:not([class*="anchor"]):not([class*="postList"] > a):not(section a):not(nav a):not(footer a):not([id="nohighlight"]):hover {
  color: white;
  background-color: rgb(46, 107, 77);
  text-shadow: none;

}

p {
  margin: 10px 0;
}

em {
  display: block;
  margin-bottom: 8px;
}

hr {
  margin-top: 30px;
  color: rgb(33, 18, 82);
}

h1 {
  margin-top: 20px;
  font-size: xx-large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 0px;
}

h4 {
  margin-top: 0px;
}

h5 {
  margin-top: 8px;
  font-weight: 300;
}

.note {
  background-color: lavender;
  padding: 14px;
  border-radius: 4px;
  width: auto;
  margin-left: 1em;
  margin-bottom: 1em;
}

.container {
  margin: 20px auto;
  max-width: 850px;
  padding-top: 15px;
}

.wrap-centered-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 500px;
  align-content: center;
}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.vertical-flex-container>* {
  padding: 16px;
}

.heading {
  color: rebeccapurple;
}

.nav-wrap {
  background-color: whitesmoke;
  width: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 6px 2px 24px 8px rgba(0, 0, 0, .12)
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}