html {
  scroll-padding-top: 70px;
  color: rgb(73, 73, 73);
  font-family: Geneva;
  letter-spacing: .02rem;
  scroll-behavior: smooth;
  scrollbar-color: #ff7373 #b0594500;
}


body {
  padding: 0;
  margin: 0;
  animation: fadein 2s;
}

main {
  margin: 0 24px;
}

* {
  font-weight: 200;
}

button,
button a {
  line-height: 3;
  margin: 4px 0;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0;
}

em {
  display: block;
  margin-bottom: 8px;
}

hr {
  margin-top: 30px;
  color: rgb(33, 18, 82);
}

h1 {
  margin-top: 50px;
  font-size: xx-large;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px
}

h3 {
  margin-top: 0px;
}

h4 {
  margin-top: 0px;
}

h5 {
  margin-top: 0px;
}

.flex {
  display: flex;
}

/* ---------------------------------------- */
/* -----------About section----------------- */


.about-section {
  display: inline-flex;
  margin: auto auto 70px;
  flex-flow: row wrap;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
}

.about-pic {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text {
  max-width: 60vw;
  padding: 0 32px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.about-background {
  height: 99vh;
  background-size: cover;
  margin-top: 40px;
}


.text-highlight {
  text-shadow:
    2px 0 5px rgb(255, 255, 167),
    -2px 0 5px rgb(255, 255, 167),
    4px 2px 5px rgb(255, 255, 167),
    -4px -2px 5px rgb(255, 255, 167),
    6px -4px 5px rgb(255, 255, 167),
    -6px 4px 5px rgb(255, 255, 167),
    8px -4px 7px rgb(255, 255, 167),
    8px 4px 7px rgb(255, 255, 167),
    10px -6px 7px rgb(255, 255, 167),
    10px 6px 7px rgb(255, 255, 167);
}

/* ---------------------------------------- */
/* ----------Portfolio section------------- */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.portfolio h1 {
  margin-top: 20px
}

.container {
  margin: 50px auto;
  max-width: 1500px;
  padding-top: 30px;
}

.wrap-centered-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 500px;
  align-content: center;
}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 400px;
}

.vertical-flex-container>* {
  padding: 16px;
}

.heading {
  color: rebeccapurple;
}

.nav-wrap {
  background-color: whitesmoke;
  width: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 6px 2px 24px 8px rgba(0, 0, 0, .12)
}

.nav-links {
  display: flex;
  background-color: inherit;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  min-height: 36px;
  flex-wrap: wrap;
  margin: 8px
}

.nav-link-item {
  padding: 4px 1rem;
}

.nav-link-text {
  color: black;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.anchor-tile {
  width: 160px;
  border: solid 1px;
  padding: 4px 8px;
  margin: 2px;
  color: black;
}

.anchor-tile h3 {
  height: 2.6em;
  margin: 3px 0;
  text-align: center;
}