:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(0, 0%, 100%);
  --clr-primary-2: hsl(115, 17%, 27%);
  --clr-primary-3: hsl(115, 12%, 37%);
  --clr-primary-4: hsl(115, 13%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(115, 18%, 30%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(115, 19%, 65%);
  --clr-primary-7: hsl(115, 10%, 70%);
  --clr-primary-8: hsl(115, 16%, 75%);
  --clr-primary-9: hsl(115, 10%, 80%);
  --clr-primary-10: hsl(0, 0%, 90%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #f4f4f4;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --clr-maroon: #321010;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --dark-shadow: -5px 5px 50px rgba(0, 0, 0, 0.2);
  --max-width: 970px;
}

html {
  scroll-padding-top: 70px;
  color: rgb(73, 73, 73);
  font-family: Helvetica, sans-serif;
  letter-spacing: .02rem;
  scroll-behavior: smooth;
  scrollbar-color: var(--clr-maroon) #cfcfcfbd;
  animation: .5s ease 1s normal forwards 1 fadein;
  -webkit-animation: .5s ease 1s normal forwards 1 fadein;
  opacity: 0
}

body {
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
}

main {
  margin: 0 24px;
}

button,
button a {
  line-height: 3;
  margin: 4px 0;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0;
}

em {
  display: block;
  margin-bottom: 8px;
}

hr {
  margin-top: 30px;
  color: rgb(33, 18, 82);
}

h1 {
  margin-top: 50px;
  font-size: xx-large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 0px;
}

h4 {
  margin-top: 0px;
}

h5 {
  margin-top: 8px;
}

.container {
  margin: 50px auto;
  max-width: 1500px;
  padding-top: 30px;
}

.wrap-centered-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 500px;
  align-content: center;
}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.vertical-flex-container>* {
  padding: 16px;
}

.heading {
  color: rebeccapurple;
}

.nav-wrap {
  background-color: whitesmoke;
  width: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 6px 2px 24px 8px rgba(0, 0, 0, .12)
}

.nav-links {
  display: flex;
  background-color: inherit;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  min-height: 36px;
  flex-wrap: wrap;
  margin: 8px
}

.nav-link-item {
  padding: 4px 1rem;
}

.nav-link-text {
  color: black;
}

.nav-link-text:hover {
  color: rgb(120, 120, 120);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}