.svgIcon {
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #35435d !important;
  border-radius: 50%;
}

.svgIcon:hover {
  color: #546179 !important;
}