.svgIcon {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color: #7280b5 !important
}

.svgIcon:hover {
  color: #321010 !important
}